<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDoozcHMskhM3n9BBm4U8xGnB3A9ARszY</string>
	<key>GCM_SENDER_ID</key>
	<string>76531479223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AndreaBottino.Sense</string>
	<key>PROJECT_ID</key>
	<string>sense-95731</string>
	<key>STORAGE_BUCKET</key>
	<string>sense-95731.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:76531479223:ios:2934b57cd81cc16c8a9332</string>
</dict>
</plist>